
/* hide chat lines by default */
.ember-chat.worsettv .chat-line {
  line-height: 18px;
  padding: 3px 20px;
  opacity: 0.2;
}

/* show sane chat lines */
.ember-chat.worsettv .sane .chat-line {
  display: block;
  opacity: 1;
}

/* hide emotes by default */
.ember-chat.worsettv .emoticon {
  display: none;
}

/* show emotes in sane chat lines */
/* add an option UI
.ember-chat.worsettv .sane .emoticon {
  display: inline-block;
}*/

/* only show the first letter of usernames */
.ember-chat.worsettv li.ember-view.message-line.chat-line span.from {
  width: 18px;
  height: 18px;
  overflow: hidden;
  display: block;
  float: left;
  font: monospace;
  font-size: 18px;
  text-transform: uppercase;
  color: grey !important;
}
