
/* hide chat lines by default */
.ember-chat .chat-messages .chat-line {
  line-height: 18px;
  padding: 3px 20px;
}

/* hide cancerous chat lines */
.ember-chat .chat-messages div.ill .chat-line {
}

/* show sane chat lines */
.ember-chat .chat-messages div.sane .chat-line {
  display: block;
  opacity: 1;
}

/* add some padding at the very bottom to fix the auto-scrolling */
/*ul.chat-lines div:last-child {
  margin-bottom: 30px;
}*/

/* only show the first letter of usernames */
li.ember-view.message-line.chat-line span.from {
  width: 18px;
  height: 18px;
  overflow: hidden;
  display: block;
  float: left;
  font: monospace;
  font-size: 18px;
  text-transform: uppercase;
  color: grey !important;
}

/* hide all emotes */
li.ember-view.message-line.chat-line span.message img.emoticon {
  display: none;
}
